<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.fniephaus.dropbox</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>739C48C5-6C99-4B62-AAB4-E23DCD2035B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94B5A64D-BE8D-43B8-847A-F84CA4214C44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>96CE9469-D48F-491F-8D8D-BFD154DB2783</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E037422F-BB78-4C52-9EC9-D23FCF6CA31A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E037422F-BB78-4C52-9EC9-D23FCF6CA31A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>739C48C5-6C99-4B62-AAB4-E23DCD2035B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Fabio Niephaus</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Dropbox for Alfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>db</string>
				<key>runningsubtext</key>
				<string>Contacting dropbox.com...</string>
				<key>script</key>
				<string>python dropbox_filter.py "{query}"</string>
				<key>title</key>
				<string>Dropbox</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E037422F-BB78-4C52-9EC9-D23FCF6CA31A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>44</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>/</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>96CE9469-D48F-491F-8D8D-BFD154DB2783</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python dropbox_handler.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>739C48C5-6C99-4B62-AAB4-E23DCD2035B5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Dropbox for Alfred</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>94B5A64D-BE8D-43B8-847A-F84CA4214C44</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>739C48C5-6C99-4B62-AAB4-E23DCD2035B5</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>94B5A64D-BE8D-43B8-847A-F84CA4214C44</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>96CE9469-D48F-491F-8D8D-BFD154DB2783</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E037422F-BB78-4C52-9EC9-D23FCF6CA31A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/fniephaus/alfred-dropbox/</string>
</dict>
</plist>
